<ion-tabs>
  <ion-tab-bar slot="bottom" class="akun-tab-bar" id="akun-tab-bar">
    <ion-tab-button tab="ipa-files">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>IPA 文件</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="certificates">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label>证书</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sign-center" class="sign-tab">
      <ion-icon name="rocket-outline"></ion-icon>
      <ion-label>签名</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="installed">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>已安装</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>设置</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>